@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Manrope", sans-serif;
    letter-spacing: -0.03em;
    color: #121212;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

/*Стили header*/

/*Стили меню*/

.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.menu_list{
    display: flex;
}

.menu_list_item{
    font-size: 18px;
    margin-right: 60px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.menu_list_item:last-child{
    margin-right: 0;
}

.menu_list_item:hover{
    opacity: 0.5;
    border-bottom: 1px solid #000;
}

.menu_list_link_item{
    text-decoration: none;
    color: #121212;
}

/*Стили контента в header*/

.header_content{
    margin-top: 70px;
}

.heading_header{
    max-width: 956px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.header_description_block{
    position: relative;
    background-image: url(../resources/img_header.jpg);
    height: 500px;
    margin-top: 30px;
}

.description{
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 20px;
    color: #fff;
    max-width: 430px;
    /* margin: 40px; */
    line-height: 26px;
}

/*Стили для About*/

.about{
    margin-top: 150px;
}

.about_text_wrapper{
    margin-bottom: 30px;
}

.heading_about, .heading_h2{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.description_about{
    font-weight: 400;
    font-size: 45px;
    letter-spacing: -0.03em;
    line-height: 60px;
    max-width: 1048px;
    margin-bottom: 37px;
}

.link_services_wrapper{
    margin-top: 30px;
}

.link_services{
    display: block;
    width: 255px;
    padding: 22px 0;
    background-color: #ad1818;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* Стили для Projects */

.projects{
    margin: 150px 0;
}

.card_project{
    margin-bottom: 90px;
}

.img_project{
    width: 100%;
    height: 450px;
}

.card_project:last-child{
    margin-bottom: 0;
}

.heading_project_card, .heading_h3{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #121212;
    margin: 21px 0;
}

.link_more{
    font-size: 20px;
    color: #ad1818;
    text-decoration: none;
}

.btn_more_projects{
    margin-top: 105px;
    width: 100%;
    color: #ad1818;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 56px;
    border: 1px solid #ad1818;
    border-radius: 5px;
    transition: all 0.5S ease;
}

.btn_more_projects:hover{
    background-color: #ad1818;
    color: #fff;
}

/* Стили для блока Services */

.services{
    padding: 150px 0;
    background-color: #121212;
}

.heading_services_block{
    color: #fff;
}

.heading_services_card{
    letter-spacing: -0.03em;
    margin-top: 30px;
    font-size: 30px;
}

.heading_services_card{
    color: #fff;
}

.card_services{
    margin-bottom: 60px;
}

.card_services:last-child{
    margin-bottom: 0;
}

.photo_block{
    position: relative;
    height: 717px;
    background-image: url(../resources/img_photo_block.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 150px;
}

.photo_block_title{
    position: absolute;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 443px;
}

/* Стили для Contacts */

.contacts{
    margin-bottom: 150px;
}

.heading_contacts{

}

.heading_contacts:before{
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
    background-image: url(/resources/phone-logo.png);
    background-repeat: no-repeat;
}

.interactive_contact{
    display: block;
    line-height: 1; 
    font-size: 60px;
    letter-spacing: -0,03em;
    color: #121212;
    text-decoration: none;
    transition: all 3ms ease-in;
}

.interactive_contact_number{
    max-width: 480px;
    margin-bottom: 30px;
}
.interactive_contact_email{
    max-width: 412px;
}

.interactive_contact:hover{
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}

/* Стили footer */

.footer{
    color: #fff;
    background-color: #121212;
    text-align: center;
    justify-content: center;
}

.footer_wrapper{
    padding: 60px 0 30px 0;
}

.footer .menu{
    margin-bottom: 87px;
}

.footer .menu_list{
    justify-content: center;
}

.footer .menu_list_link_item{
    text-decoration: none;
    color: #fff;
}